<nav class="navbar-nav">
    <NavLink href="" Match="NavLinkMatch.All" class="nav-link">
        Home
    </NavLink>
    <AuthorizeView>
        <Authorized>
            <NavLink href="courses" Match="NavLinkMatch.Prefix" class="nav-link">
                Courses
            </NavLink>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="@Role.Student.ToString()">
        <Authorized>
            <NavLink href="enrollments" Match="NavLinkMatch.Prefix" class="nav-link">
                My Enrollments
            </NavLink>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="@Role.Admin.ToString()">
        <Authorized>
            <NavLink href="admin/courses" Match="NavLinkMatch.Prefix" class="nav-link">
                Course Management
            </NavLink>
        </Authorized>
    </AuthorizeView>
</nav>
